# fly.toml app configuration file generated for hobbyhub on 2025-12-01T19:23:48-07:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'hobbyhub'
primary_region = 'ord'
console_command = '/code/manage.py shell'

[build]

[deploy]
  release_command = 'python manage.py migrate'

[scale]
  min = 1

[env]
  PORT = '8000'

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1

[[statics]]
  guest_path = "/app/staticfiles"
  url_prefix = "/static/"


[mounts]
  source="media_volume"
  destination="/data"

