{% extends "base.html" %}

{# override block below so nav is not included #}
{% block nav %}
{% endblock %}




{% block html_classes %}background_color{% endblock %}
{% block body_classes %}center{% endblock %}



{% block content %}
        <article class="no_shadow">
            <h2>Log In</h2>
            {% include "form.html" with form=login_form other_inputs=next_input|safe submit_text="Login" %}
            <p class="center">Don't have an account yet? &nbsp;<a href="{% url 'accounts:signup' %}">Sign Up</a></p>
        </article>    
{% endblock %}



