{% extends "base.html" %}

{% load static %}


{% block profile_selected %}selected{% endblock %}

{% block content %}
     <article>
          <div class="profile_header">
               {% if profile.profile_picture %}
                    <img class="profile_picture" src="{{ profile.profile_picture.url }}" alt="{{ user.get_username }}'s Profile Picture">
               {% else %}
                    <img class="profile_picture" src="{% static 'images/default_profile_picture.jpg' %}" alt="Default Profile Picture">
               {% endif %}
               
     
               <div class="stack">
                    <h1 class="profile_name">
                         {{ user.first_name }} 
                         {% if user.last_name %}{{ user.last_name }}{% endif %}
                    </h1>
                    <h2 class="profile_username">@{{ user.get_username }}</h2>
               </div>
          </div>
          <div class="bio">
               {% if profile.bio %}
                    <blockquote>{{ profile.bio }}</blockquote>
               {% endif %}
          </div>




          {# if user is viewing their own profile, let them edit or delete their profile #}
          {% if viewer == user %}
               <div class="horizontal_button_group">
                    <a href="{% url 'accounts:edit' user.get_username %}" class="action_button">Edit Profile</a>

                    {# include and show separate dialog to confirm user wants to delete their profile when they click 'Delete Profile' Button below #}
                    {% include "delete_dialog.html" with dialog_id="delete_profile" title="Your Account" message="Are you sure you would like to delete your profile? <br> This action cannot be undone." action_url=delete_url confirm_text="Yes, delete it." %}
                    <button class="warning_button" type="button" onclick="openDialog('delete_profile')">Delete Profile</button>
               </div>
          {% else %}
          {# if viewer is someone else, let their friend status with the user profile determine what content they can see and what actions they can do #}
               {% block friend_selected %}selected{% endblock %}
               {% if friend_request is None %}
                    <div class="horizontal_button_group">
                         <form method="POST" action="{% url 'friends:add_friend' %}" class="no_margin_after">
                              {# csrf_token generates a unique, hidden input field in an HTML form to protect against Cross-Site Request Forgery (CSRF) attacks #}
                              {% csrf_token %} 
                              <input type="hidden" name="old_search" value="{{ old_search }}">
                              <input type="hidden" name="friend_username" value="{{ user.get_username }}">
                              <button type="submit" class="no_margin_after">Add Friend</button>
                         </form>
                         <a href="{% url 'friends:search_friend'%}?q={{ old_search }}" role="button" class="outline">
                              Cancel
                         </a>
                    </div>
               {% elif friend_request.status == "pending" %}
                    <div class="horizontal_button_group">
                              <button disabled>Pending</button>
                              <a href="{% url 'friends:search_friend'%}?q={{ old_search }}">
                                   <button class="outline extra_top_margin" type="button">Ok</button>
                              </a>
                    </div>
               {% elif friend_request.status == "accepted" %}
                    <form method="POST" action="{% url 'friends:remove_friend' %}">
                         {# csrf_token generates a unique, hidden input field in an HTML form to protect against Cross-Site Request Forgery (CSRF) attacks #}
                         {% csrf_token %} 
          
                         <input type="hidden" name="friend_username" value="{{ user.username }}">
                         <button type="submit" class="no_margin_after warning_button">Remove Friend</button>
                    </form>
               </article>
               <article>
                    <a href="{% url 'encouragement_notes:send_encouragement' %}?to={{ profile.user.username }}" role="button">Send Note of Encouragement</a>
               </article>
               <article>
                    {% include 'hobby_sessions/sessions_list.html' with sessions=sessions owner=False %}
               </article>
               {% elif friend_request.status == "declined" and friend_request.receiver == viewer.userprofile %}
                    <div class="horizontal_button_group">
                         <form method="POST" action="{% url 'friends:add_friend' %}" class="no_margin_after">
                              {# csrf_token generates a unique, hidden input field in an HTML form to protect against Cross-Site Request Forgery (CSRF) attacks #}
                              {% csrf_token %} 

                              <input type="hidden" name="old_search" value="{{ old_search }}">
                              <input type="hidden" name="friend_username" value="{{ user.get_username }}">
                              <button type="submit" class="no_margin_after">Add Friend</button>
                         </form>
                         <a href="{% url 'friends:search_friend'%}?q={{ old_search }}" role="button" class="outline">
                              Cancel
                         </a>
                    </div>
               {% endif %}
          {% endif %}
</article>
{% endblock %}

