{% extends "base.html" %}

{# override block below so nav is not included #}
{% block nav %}
{% endblock %}


{% block body_classes %}center{% endblock %}


{% block content %}
    <article class="no_shadow">
        <h2>Sign Up</h2>

        {% include "form.html" with form=signup_form form_attributes='enctype="multipart/form-data"' submit_text="Sign Up" %}

        <a href="{% url 'accounts:login' %}">
            <button class="outline" type="submit">Cancel</button>
        </a>
    </article>
{% endblock %}
