.sidebar{
    background-color: #C4A484;
    width: 150px;
    height: 1000px;
    display: inline-block;
}

.sidebar h3{
    margin: 0px;
    padding: 20px;
}

.side_section{
    width: calc(100% - 150px);
    float: right;
    box-sizing: border-box;
    color: white;
    text-align: center;
}

.corkboard{
    background-image: url("/Images/wood-board-background.jpg");
    background-position: center;
    background-size: cover;
}