.sidebar{
    background-color: aquamarine;
    width: 150px;
    height: 900px;
    display: inline-block;
}

.sidebar h3{
    margin: 0px;
    padding: 20px;
}

.side_section{
    width: calc(100% - 155px);
    float: right;
    padding: 20px;
    box-sizing: border-box;
}