header{
    background-color: #A8BBA3;
    color: rgb(15, 14, 13);
    box-sizing: border-box;
    height: 150px;

}

body{
    margin: 0px;
    background-color: #F7F1DE;
}

h1{
    padding: 20px;
    padding-left: 80;
}

a{
    
}


.large_section{
    padding: 40px;
}
.nav a{
    text-decoration: none;
    color: aliceblue;
    padding: 0px;
    margin: 0px;

}



.selected{
    background-color: aliceblue;
    color: black;
}

.selected a{
    background-color: aliceblue;
    color: black;
}

.nav li{
    display: inline;
    color: aliceblue;
    padding: 20px;
    margin: 0px;
}

.hobby{
    height: 400px;
    display: flex;
}

.hobby_image{
    width: 300px;
    height: 350px;

    background-color: #f1f0e5;


}

.hobby_text{
    width: 300px;
    height: 300px;
    background-color: #f1d847;
    
}