header{
    background-color: rgb(49, 114, 105);
    color: aliceblue;
    box-sizing: border-box;
    height: 150px;

}

body{
    margin: 0px;
}

h1{
    padding: 20px;
    padding-left: 80;
}

a{
    
}


.large_section{
    padding: 40px;
}
.nav a{
    text-decoration: none;
    color: aliceblue;
    padding: 0px;
    
}



.selected{
    background-color: aliceblue;
    color: black;
}

.selected a{
    background-color: aliceblue;
    color: black;
}

.nav li{
    display: inline;
    color: aliceblue;
    padding: 20px;
    margin: 0px;
}