{% extends "base.html" %}


{% block content %}
     <article>
          <h2>New Kudos</h2>
          {% for note in new_notes %}
                    {% include 'encouragement_notes/encouragement_note.html' %}
          {% empty %}
               <p>No new kudos yet ... but just wait :) !</p>
          {% endfor %}
     </article>

     <article>
          <h2>Old Kudos</h2>
          {% for note in old_notes %}
                    {% include 'encouragement_notes/encouragement_note.html' %}
          {% empty %}
               <p>No old kudos right now.</p>
          {% endfor %}
     </article>
{% endblock %}