{% extends "base.html" %}


{% block content %}
    <h1>{{ hobby.name|title }}</h1>
    <h3>Number of Sessions: {{ hobby.session_count }}</h3>
    <h3>Time Spent on This Hobby: {{ hobby.total_time_spent }}</h3>

     <a href="{% url 'hobby_sessions:create_session' hobby.name %}">Add Session</a>

     {# include and show separate dialog to confirm user wants to delete this Hobby, when they click 'Delete Hobby' Button below #}
     {% include "delete_dialog.html" with dialog_id="delete_hobby" title=hobby_name message="Are you sure you would like to delete this hobby? This action cannot be undone." action_url=delete_url confirm_text="Yes, delete it" %}
     <button type="button" onclick="openDialog('delete_hobby')">Delete Hobby</button>


     {% include 'hobby_sessions/sessions_list.html' %}
{% endblock %}
 