{% extends 'base.html' %}

{% block hobby_selected %}selected{% endblock %}

{% block content %}

     <article>
          <a href="{% url 'hobbies:create_hobby' %}" class="action_button">Create Hobby</a>
     </article>


     <article>
          <h2>My Hobbies</h2>
          <div>
               <form action="" method="POST">    
                    {# csrf_token generates a unique, hidden input field in an HTML form to protect against Cross-Site Request Forgery (CSRF) attacks #}
                    {% csrf_token %} 
                    
                    {{ sort_form }}
               </form>
          </div>

          {% include 'hobbies/hobbies_list.html' %}
     </article>
     
{% endblock %}