{% extends "base.html" %}


{% block content %}
    <h1>{{ hobby.name }}</h1>


     <!-- <h2>How Long</h2>
     <h2>Number of Sessions</h2> -->
     <!-- display sessions -->

     <form action="{% url 'hobby_sessions:add_session' hobby.name %}" method="POST">
          {% csrf_token %}
          <button type="submit">Add Session</button>
          <!-- add icon -->
     </form>

     <button type="button" onclick="openDeleteDialog('delete_hobby')">Delete Hobby</button>
     {% include "delete_dialog.html" with dialog_id="delete_hobby" title=hobby.name message="Are you sure you would like to delete this hobby? This action cannot be undone." action_url=delete_url confirm_text="Yes, delete it" cancel_text="No, keep it" %}

{% endblock %}
 