<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}HobbyHub{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/pico.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <script src="{% static '/js/dialog.js' %}"></script>
</head>

<body class="{% block body_classes %}{% endblock %}">
    {% block nav %}
        {% include 'nav.html' %}
    {% endblock %}

    <main class="container {% block main_classes %}{% endblock %}">
        {% block content %}
        {% endblock %}
    </main> 
</body>

</html>