<!DOCTYPE html>
<html lang="en" class="{% block html_classes %}{% endblock %}" >

<head>
    <meta charset="UTF-8">
    <title>{% block title %}HobbyHub{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/pico.css' %}">
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <link rel="stylesheet" href="{% static 'css/layouts.css' %}">
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">
    <link rel="stylesheet" href="{% static 'css/buttons_links.css' %}">
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <link rel="stylesheet" href="{% static 'css/sessions.css' %}">



    <script src="{% static '/js/dialog.js' %}"></script>
    <script src="{% static '/js/session_styling.js' %}"></script>

    <link rel="stylesheet" href="{% static 'emoji_picker/emoji-picker-main.css' %}">
    <link rel="stylesheet" href="{% static 'emoji_picker/emoji-picker-panel.css' %}">
    <script src="{% static 'emoji_picker/emoji-picker.js' %}"></script>


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap" rel="stylesheet">
</head>

<body class="{% block body_classes %}{% endblock %}">
    {% block nav %}
        <nav class="header">
     
            <ul>
                <li>
                    <h1 class="title">HobbyHub</h1>
                </li>
            </ul>
     
            <ul>
                <li><a class="{% block dashboard_selected %}{% endblock %} button" href="{% url 'dashboard' %}">Dashboard</a></li>
                <li><a class="{% block hobby_selected %}{% endblock %} button" href="{% url 'hobbies:hobbies' %}">Hobbies</a></li>
                <li><a class="{% block friends_selected %}{% endblock %} button" href="{% url 'friends:friends' %}">Friends</a></li>
                <li><a class="{% block notes_selected %}{% endblock %} button" href="{% url 'encouragement_notes:view_encouragement' %}">Kudos</a></li>
            </ul>
     
        <ul>
            <li>
               <a class="{% block profile_selected %}{% endblock %} button" href="{% url 'accounts:profile' request.user.username %}">Profile</a>
            </li>
        <li>     
            <a class="button warning_button" href="#" onclick="document.getElementById('logout-form').submit()"
               >
                    Logout
            </a>
            
               <form id="logout-form" action="{% url 'accounts:logout' %}" method="POST" style="display: none;">
                    {# csrf_token generates a unique, hidden input field in an HTML form to protect against Cross-Site Request Forgery (CSRF) attacks #}
                    {% csrf_token %} 
               </form>
          </li>              
     </ul>

</nav>
    {% endblock %}

    <main class="container {% block main_classes %}{% endblock %}">
        {% if messages %}
                {% for message in messages %}
                    <article class="message {{ message.tags }}">
                        {{ message }}
                    </article>
                {% endfor %}
        {% endif %}

        {% block content %}
        {% endblock %}
    </main> 
</body>

</html>