<form method="POST" {{ form_attributes }} class="extra_top_margin">
     {# csrf_token generates a unique, hidden input field in an HTML form to protect against Cross-Site Request Forgery (CSRF) attacks #}
     {% csrf_token %} 



     {% if form.non_field_errors %}
          <div class="errors_div">
               {% for error in form.non_field_errors %}
                    <p class="error-message">{{ error }}</p>
               {% endfor %}
          </div>
     {% endif %}

     {% for field in form %}
          {% if field.field.widget.input_type == "checkbox" %}
               <div class="form_field checkbox-inline">
                    {{ field.label_tag }} {{ field }}
          {% else %}
               <div class="form_field">
                    {{ field.label_tag }}
                    {{ field }}
          {% endif %}

                    <div class="errors_div">
                         {% if field.errors %}
                              {% for error in field.errors %}
                                   <p class="error-message">{{ error }}</p>
                              {% endfor %}
                         {% else %}
                              {% if field.help_text %}
                                   <small class="help-text">{{ field.help_text }}</small>
                              {% endif %}
                         {% endif %}
                    </div>
           </div>    
     {% endfor %}


     {{ other_inputs|safe }}
         
     <button type="submit" class="extra_top_margin">{{ submit_text|default:"Submit" }}</button>
 </form>