<nav class="container header">
     <ul>
          <li><a href="{% url 'dashboard' %}" class="topnav">Dashboard</a></li>
          <li><a href="{% url 'hobbies:hobbies' %}" class="topnav">Hobbies</a></li>
          <li><a href="{% url 'friends:friends' %}" class="topnav">Friends</a></li>
          <li><a href="{% url 'encouragement_notes:view_encouragement' %}" class="topnav">Notes</a></li>
     </ul>
     
     <ul>
          <li>
               <a href="{% url 'accounts:profile' request.user.username %}">Profile</a>
          </li>
          <li>     
               <a href="#" onclick="document.getElementById('logout-form').submit()"
                    role="button" 
               >
                    Logout
               </a>
            
               <form id="logout-form" action="{% url 'accounts:logout' %}" method="POST" style="display: none;">
                    {# csrf_token generates a unique, hidden input field in an HTML form to protect against Cross-Site Request Forgery (CSRF) attacks #}
                    {% csrf_token %} 
               </form>
          </li>              
     </ul>
</nav>