.center {
     display: flex;
     align-items: center;       /* center vertically */
     justify-content: center;   /* center horizontally*/
}






.container {
     width: 80% !important;
     min-width: 400px !important;
     max-width: 800px !important;
}

article {
     margin: 60px 0;
     padding: 40px;
}







form .form_field {
     margin-bottom: 2rem;
 }


.help-text {
     display: block;
     color: #666;
     font-size: 0.7rem;
 }

.errorlist, .error-message {
     color: #b44949;
     font-size: 0.8rem;
     list-style-type: none !important;
     padding: 0 !important;
     margin: 0 !important;
     max-width: 100%;
     overflow-wrap: break-word;
}

.errors_div {
     margin-bottom: 20px;
}





.horizontal_button_group {
     display: flex;
     gap: 20px;
     margin-top: 60px;
}

.horizontal_button_group a[role="button"],
.horizontal_button_group button {
     width: 175px;
     margin-top: 0 !important;
     margin-bottom: 0 !important;
}

.outline {
     border-width: 3px;
}

.warning_button {
     background-color: #b44949;  
     color: white;
     border: #833434;
     box-shadow: none !important;
}

.warning_button:hover {
     background-color: #a34343;  
}

.not_button {
     all: unset;
}

.not_button:hover {
     background-color: var(--btn-bg-hover);
     box-shadow: 0 0.35rem 0.6rem var(--btn-shadow-hover);
}








.background_image {
     background-image: url("../images/patchwork.jpeg");
     background-size: cover;
     min-height: 100vh;
}







.profile_header {
     display: flex;
     gap: 2rem;
     align-items: center;
     margin-bottom: 2rem;
 }

 .profile_picture {
     object-fit: cover;
     width: 120px;
     height: 120px;
     border-radius: 50%;
     border: 3px solid var(--pico-muted-border-color);
 }
 
 .profile_name {
     font-size: 2rem;
     font-weight: bolder;
     margin: 0;
 }
 
 .profile_username {
     font-size: 1.5rem;
     color: var(--pico-muted-color);
     margin: 0.25rem 0 0 0;
 }

 .profile_header_text {
     display: flex;
     flex-direction: column;
 }


