.center {
     display: flex;
     align-items: center;       /* center vertically */
     justify-content: center;   /* center horizontally*/
}

.stack {
     display: flex;
     flex-direction: column;
     gap: 0.5rem;
}

.inline {
     display: flex;
     flex-direction: row;
     gap: 1rem;
     align-items: center;
}

.wrap {
     flex-wrap: wrap;
}

.extra_top_margin {
     margin-top: 100px;
}

.no_margin_after {
     margin-bottom: 0 !important;
}




.container {
     width: 80% !important;
     min-width: 400px !important;
     max-width: 800px !important;
     background-color: gray;
}

article {
     margin: 60px 0;
     padding: 40px;
}


.clickable_area {
     display: flex;
     flex: 1;         
     cursor: pointer;
     text-decoration: none;
 }







form .form_field {
     margin-bottom: 2rem;
 }


.help-text {
     display: block;
     color: #666;
     font-size: 0.7rem;
 }

.errorlist, .error-message {
     color: #b44949;
     font-size: 0.8rem;
     list-style-type: none !important;
     padding: 0 !important;
     margin: 0 !important;
     max-width: 100%;
     overflow-wrap: break-word;
}

.errors_div {
     margin-bottom: 20px;
}




.message.success {
     background: #e9f7e9;          
     color: #2a542a;      
     border-left: 5px solid #6abf6a;           
     padding: 30px;
 }



.session{
     background-color: rgb(255, 249, 238);
     margin: auto;
     color: black;
     transform: rotate(5deg);
     margin-top: 120px;
     width: 600px;
     
}

.session h4 {
     color: rgb(80, 80, 80);
     font-family: "caveat", cursive;
     text-align: center;
     font-size: 45px;
     font-weight: 600;
}

.session p{
     color: rgb(83, 83, 83);
     font-family: "caveat", cursive;
     text-align: center;
     font-size: 30px; 

}




.session .tack{
     width: 75px;
     height: 75px;
     transform: translateY(-75px);
     margin: auto;
     display: block;
}


.session .session_img{
     background-color: rgb(46, 46, 46);
     width: 600px;
     height: 600px;
     padding: 20px;
     margin-top: 20px;
     transform: translateY(-60px);
     margin: auto;
     display: block;
     object-fit: cover;

}

.shadow{
     box-shadow: 10px 10px 5px 2px rgba(0, 0, 0, 0.5);
}


.horizontal_button_group {
     display: flex;
     gap: 20px;
     align-items: center;
}

.horizontal_button_group a[role="button"],
.horizontal_button_group button {
     padding: 0.75em 1em;
     margin: 0 !important;
}

.outline {
     border-width: 3px;
}

.warning_button {
     background-color: #b44949;  
     color: white;
     border: #833434;
     box-shadow: none !important;
}

.warning_button:hover {
     background-color: #a34343;  
}

.corkboard{
     background-image: url("../../static/images/wood-board-background.jpg");
     background-size: cover;
     padding: 30px;
}



.header{
     background-color: #17134d
}



.background_image {
     background-image: url("../images/patchwork.jpeg");
     background-size: cover;
     min-height: 100vh;
}


.topnav{
     background-color: rgb(184, 184, 184);
     color: black;
     padding-left: 20px;
     padding-right: 20px;
     margin: 5px;
}


.topnav:hover{
     background-color: white;
}
html{
     background-color: rgb(214, 214, 214);
}


main.container{
     min-height: 80vh;
     padding: 40px;
}

nav.container.header{
     height: 150px;
}

.profile_header {
     display: flex;
     gap: 2rem;
     align-items: center;
     margin-bottom: 2rem;
 }

.profile_picture {
     object-fit: cover;
     width: 7.5em;
     height: 7.5em;
     border-radius: 50%;
     border: 3px solid var(--pico-muted-border-color);
 }

 .profile_name {
     font-size: 2em;
     font-weight: bolder;
     margin: 0;
 }
 
 .profile_username {
     font-size: 1.5em;
     color: var(--pico-muted-color);
     margin: 0;
 }

 .profile_preview, 
 .friend_activity_preview {
     font-size: 0.6rem;
     color: black;
     padding: 15px;
     margin: 15px;
 }

.profile_preview .profile_picture, 
.friend_activity_preview .profile_picture {
     width: 7em;
     height: 7em;
 }

.friend_activity_preview p {
     font-size: 1rem;
     margin: 0;
}

