@media only screen and (max-width: 1050px){

     .title{
          display: none;
     }
}



html{
     background-color: rgb(238, 238, 238);
}

.shadow{
     box-shadow: 10px 10px 5px 2px rgba(0, 0, 0, 0.5);
}

.no_shadow {
     box-shadow: none;
}

.background_color{
     background-color: #DECFED;
}

.block{
     display: block;
     
}

.kudos{
     font-family: "caveat", cursive;
     font-size: 40px;
     background-image: url("../../static/images/paper_background.jpg");

     background-size: cover;
}

.right{
     float: right;
}