.center {
     display: flex;
     align-items: center;       
     justify-content: center;
     margin: auto;
}

.right {
     display: flex;
     justify-content: end;
     margin-left: auto;
}

.stack {
     display: flex;
     flex-direction: column;
     gap: 0.5rem;
}

.inline {
     display: flex;
     flex-direction: row;
     gap: 1rem;
     align-items: center;
     justify-content: space-between;
}

.larger_gap {
     gap: 2rem;
}

.wrap {
     flex-wrap: wrap;
}

.block{
     display: block;
}

.container {
     width: 90% !important;
     min-width: 400px !important;
     max-width: 1500px !important;
     box-sizing: border-box;
}

main .container{
     min-height: 80vh;
     padding: 10px;
}

article {
     margin: auto;
     margin-bottom: 50px;
     margin-top: 50px;
     padding: 40px;
     box-shadow: 15px 15px 15px #ada4b1;
     width: 90%
}

.secondary_article {
     background-color: #F3EFF7;
}

.small_article {
     padding: 5px 30px;
}

.dialog, .dialog p {
     font-family: var(--pico-font-family, sans-serif) !important; 
     font-size: 1rem !important;
     text-align: left !important;
 }

.extra_top_margin {
     margin-top: 50px;
}

.no_margin_after {
     margin-bottom: 0 !important;
}

.no_margin_before {
     margin-top: 0 !important;
}

