.session{
     background-color: rgb(250, 246, 239);
     margin: auto;
     color: black;
     transform: rotate(5deg);
     margin-top: 120px;
     width: 600px;
}

.session h4 {
     color: rgb(80, 80, 80);
     font-family: "caveat", cursive;
     text-align: center;
     font-size: 2.5rem;
     font-weight: 600;
}

.session p{
     color: rgb(83, 83, 83);
     font-family: "caveat", cursive;
     text-align: center;
     font-size: 1.75rem; 
}

.session .tack{
     width: 75px;
     height: 75px;
     transform: translateY(-75px);
     margin: auto;
     display: block;
}

.session .session_img{
     background-color: rgb(46, 46, 46);
     width: 600px;
     height: 600px;
     padding: 20px;
     margin-top: 20px;
     transform: translateY(-60px);
     margin: auto;
     display: block;
     object-fit: cover;
     object-position: center;
}

.corkboard{
     background-image: url("../../static/images/wood-board-background.jpg");
     background-size: cover;
     /* border: 10px solid rgb(51, 51, 51); */
     /* border-radius: 10px; */
}